* {
  font-family: sans-serif;
}
.App {
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #63422a;
  display: inline;
  padding: 10px;
}
.logo{
  width: 50px;
}
.error-message {
  color: red;
}

.task-filter {
  border-bottom: 2px solid #e6dab6;
  padding: 10px;
}

.task-filter button {
  padding: 8px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 5px;
  background-color:  #805333;
}
.task-filter button:hover, .task-filter .active {
  background-color: #63422a;
}